<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center" style="font-size: 20px">5s Audit - detail</ion-title>
    <ion-avatar slot="end" class="ion-margin">
      <img src="http://robohash.org/set_set1/bgset_bg2/kQqaIfGqxsjFoNIT" />
    </ion-avatar>
  </ion-toolbar>
   
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-col size="5">
        <ion-label class="ion-padding-bottom">
            <strong>Audit Date</strong>
        </ion-label>
        
        <br>
        <ion-label>12.10.2019</ion-label>

        <br>
        <ion-label>12.10.2019</ion-label>

        <br>
        <ion-label>12.10.2019</ion-label>

        <br>
        <ion-label>12.10.2019</ion-label>
      </ion-col>
      <ion-col size-xs="7">
          <ion-label class="ion-padding-bottom">
              <strong>Auditors</strong>
          </ion-label>
        <br>
        <ion-label>Bui Minh Nguyen</ion-label>

        <br>
        <ion-label>Nguyen Chanh Lam</ion-label>

        <br>
        <ion-label>Duong Minh Hiep</ion-label>

        <br>
        <ion-label>Pham Long Vu</ion-label>
      </ion-col>
      <ion-col size-xs="3" slot="end">
          <ion-label class="ion-padding-bottom">
              <strong>Status</strong>
          </ion-label>
        <br>
        <ion-label>Completed</ion-label>

        <br>
        <ion-label>Completed</ion-label>

        <br>
        <ion-label>Completed</ion-label>

        <br>
        <ion-label>Completed</ion-label>
      </ion-col>
    </ion-item>


  </ion-list>
</ion-content>
