<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/audits"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-size: 20px"
      >Audit Form</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-row class="ion-padding">
      <ion-col>
        <ion-label>
          <strong>Company Name:</strong>
          <ion-input
            class="input"
            type="text"
            [(ngModel)]="auditor.companyName"
            name="companyName"
          ></ion-input>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <strong>Auditor Name:</strong>
          <ion-input
            class="input"
            type="text"
            [(ngModel)]="auditor.auditorName"
            name="auditorName"
          ></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-label>
          <strong>Department Name:</strong>
        </ion-label>
        <ion-input
          class="input"
          type="text"
          [(ngModel)]="auditor.departmentName"
          name="departmentName"
        ></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>
          <strong>Checked phases:</strong>
        </ion-label>
      </ion-col>
    </ion-row>
    <app-audit-phase></app-audit-phase>
    <div>
      <ion-button type="submit" size="block">Submit Form</ion-button>
    </div>
  </form>
</ion-content>
