<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <div class="ion-text-center">
          <h1>
            Choose number of audits data you would like to retrieve
          </h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-radio-group
      style=" border-bottom-color: transparent !important;
        box-shadow: none !important;"
      (ionChange)="onChangeHandler($event)"
    >
      <ion-row>
        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">5</ion-label>
            <ion-radio mode="md" item-left value="5"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">10</ion-label>
            <ion-radio mode="md" item-left value="10"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">15</ion-label>
            <ion-radio mode="md" item-left value="15"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">20</ion-label>
            <ion-radio mode="md" item-left value="20"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">25</ion-label>
            <ion-radio mode="md" item-left value="25"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <div class="ion-text-center">
          <h1>
            Choose Audit phase you would like to see its trending
          </h1>
        </div>
      </ion-col>
    </ion-row>
    <ion-radio-group
      style=" border-bottom-color: transparent !important;
        box-shadow: none !important;"
      (ionChange)="onPhaseSelected($event)"
    >
      <ion-row>
        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">SORT</ion-label>
            <ion-radio mode="md" item-left value="0"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">SHINE</ion-label>
            <ion-radio mode="md" item-left value="1"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">ORDER</ion-label>
            <ion-radio mode="md" item-left value="2"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">SUSTAIN</ion-label>
            <ion-radio mode="md" item-left value="3"></ion-radio>
          </ion-item>
        </ion-col>

        <ion-col size-md="2.4" size-xs="3.5">
          <ion-item>
            <ion-label class="ion-text-center">STANDARDIZE</ion-label>
            <ion-radio mode="md" item-left value="4"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-grid>
  <div class="barChart__container" *ngIf="!isLoading">
    <combo-chart-component
        class="chart-container barChart__element"
        [view]="view"
        [scheme]="comboBarScheme"
        [colorSchemeLine]="lineChartScheme"
        [results]="auditsAverageChart"
        [animations]="animations"
        [lineChart]="lineChart"
        [tooltipDisabled]="tooltipDisabled"
        [yAxisTickFormatting]="yLeftTickFormat"
        [yLeftAxisScaleFactor]="yLeftAxisScale"
        [yRightAxisScaleFactor]="yRightAxisScale"
        [yRightAxisTickFormatting]="yRightTickFormat"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [showGridLines]="showGridLines"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showRightYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yAxisLabelRight]="yAxisLabelRight"
        [noBarWhenZero]="noBarWhenZero"
        (select)="onSelect($event)"
        (resize)="onResize($event)"
      ></combo-chart-component>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button detail [routerLink]="['/new-audit']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
