<ion-grid>
  <ion-row>
    <ion-col size-xs="3" size-sm="4">
      <p style="font-weight: bold;">
        Item
      </p>
    </ion-col>
    <ion-col size-xs="6" size-sm="5">
      <p style="font-weight: bold;">
        Description
      </p>
    </ion-col>
    <ion-col size-xs="3" size-sm="2" offset-md=".3">
      <p style="font-weight: bold;">
        Rate
      </p>
    </ion-col>
  </ion-row>
</ion-grid>

<app-check-item
  *ngFor="let item of listByPhase"
  [checkItem]="item"
></app-check-item>
