<ion-item-group>
  <ion-grid>
    <mat-vertical-stepper>
      <mat-step>
        <ion-row>
          <ion-col>
            <ng-template class="ion-text-center" matStepLabel>
              <p style="font-weight: bold; font-size: 24px;">
                <strong>SORT</strong>
              </p>
            </ng-template>
          </ion-col>
        </ion-row>

        <ion-row class="ion-padding">
          <ion-col
            size-md="2"
            class="ion-align-items-start"
            offset-md=".2"
            size-xs="5"
          >
            <strong>
              Check items
            </strong>
          </ion-col>

          <ion-col size-md="3" class="ion-text-center" size-xs="6">
            <strong>
              Description
            </strong>
          </ion-col>

          <ion-col size-md="6.8" class="hidden-sm-down ion-text-center">
            <strong>
              Score
            </strong>
          </ion-col>
        </ion-row>

        <app-audit-question
          *ngFor="let auditQuestionSORT of auditQuestionsSORT"
          [auditQuestionItem]="auditQuestionSORT"
        >
        </app-audit-question>
      </mat-step>

      <mat-step>
        <ion-col>
          <ng-template class="ion-text-center" matStepLabel>
            <p style="font-weight: bold; font-size: 24px;">
              <strong>SET IN ORDER</strong>
            </p>
          </ng-template>
        </ion-col>

        <ion-row class="ion-padding">
          <ion-col
            size-md="2"
            class="ion-align-items-start"
            offset-md=".2"
            size-xs="5"
          >
            <strong>
              Check items
            </strong>
          </ion-col>

          <ion-col size-md="3" class="ion-text-center" size-xs="6">
            <strong>
              Description
            </strong>
          </ion-col>

          <ion-col size-md="6.8" class="hidden-sm-down ion-text-center">
            <strong>
              Score
            </strong>
          </ion-col>
        </ion-row>

        <app-audit-question
          *ngFor="let auditQuestionORDER of auditQuestionsORDER"
          [auditQuestionItem]="auditQuestionORDER"
        >
        </app-audit-question>
      </mat-step>

      <mat-step>
        <ion-col>
          <ng-template class="ion-text-center" matStepLabel>
            <p style="font-weight: bold; font-size: 24px;">
              <strong>SHINE</strong>
            </p>
          </ng-template>
        </ion-col>

        <ion-row class="ion-padding" class="ion-text-center">
          <ion-col
            size-md="2"
            class="ion-align-items-start"
            offset-md=".2"
            size-xs="5"
          >
            <strong>
              Check items
            </strong>
          </ion-col>

          <ion-col size-md="3" class="ion-text-center" size-xs="6">
            <strong>
              Description
            </strong>
          </ion-col>

          <ion-col size-md="6.8" class="hidden-sm-down ion-text-center">
            <strong>
              Score
            </strong>
          </ion-col>
        </ion-row>

        <app-audit-question
          *ngFor="let auditQuestionSHINE of auditQuestionsSHINE"
          [auditQuestionItem]="auditQuestionSHINE"
        >
        </app-audit-question>
      </mat-step>
      <mat-step>
        <ion-col>
          <ng-template class="ion-text-center" matStepLabel>
            <p style="font-weight: bold; font-size: 24px;">
              <strong>STANDARDIZE</strong>
            </p>
          </ng-template>
        </ion-col>

        <ion-row class="ion-padding" class="ion-text-center">
          <ion-col
            size-md="2"
            class="ion-align-items-start"
            offset-md=".2"
            size-xs="5"
          >
            <strong>
              Check items
            </strong>
          </ion-col>

          <ion-col size-md="3" class="ion-text-center" size-xs="6">
            <strong>
              Description
            </strong>
          </ion-col>

          <ion-col size-md="6.8" class="hidden-sm-down ion-text-center">
            <strong>
              Score
            </strong>
          </ion-col>
        </ion-row>

        <app-audit-question
          *ngFor="let auditQuestionSTANDARDIZE of auditQuestionsSTANDARDIZE"
          [auditQuestionItem]="auditQuestionSTANDARDIZE"
        >
        </app-audit-question>
      </mat-step>
      <mat-step>
        <ion-col>
          <ng-template class="ion-text-center" matStepLabel>
            <p style="font-weight: bold; font-size: 24px;">
              <strong>SUSTAIN</strong>
            </p>
          </ng-template>
        </ion-col>

        <ion-row class="ion-padding" class="ion-text-center">
          <ion-col
            size-md="2"
            class="ion-align-items-start"
            offset-md=".2"
            size-xs="5"
          >
            <strong>
              Check items
            </strong>
          </ion-col>

          <ion-col size-md="3" class="ion-text-center" size-xs="6">
            <strong>
              Description
            </strong>
          </ion-col>

          <ion-col size-md="6.8" class="hidden-sm-down ion-text-center">
            <strong>
              Score
            </strong>
          </ion-col>
        </ion-row>

        <app-audit-question
          *ngFor="let auditQuestionSUSTAIN of auditQuestionsSUSTAIN"
          [auditQuestionItem]="auditQuestionSUSTAIN"
        >
        </app-audit-question>
      </mat-step>
    </mat-vertical-stepper>
  </ion-grid>
</ion-item-group>
